# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists include:
* Create a markdown cell introducing arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Plotly
4. TensorFlow
5. Matplotlib

|Data Science Tools|
|------------------|
|JypiterNotebook|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [55]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [57]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Abrahan Baco Navarro